@tailwind base;
@tailwind utilities;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

label {
  /* font-size: 15px; */
  font-weight: 500;
  @apply text-slate-500;
}
.tips button,
.tips input {
  width: 30%;
  @apply text-center text-white  py-1 rounded-md text-lg mb-3;
}
.tips button:hover {
  background-color: hsl(172, 67%, 45%);
  @apply text-slate-700;
}
.tips input {
  @apply text-right  pr-1 text-slate-950;
}
.tips input::placeholder {
  @apply text-center;
}

.tips button,
.box-result {
  background-color: hsl(183, 100%, 15%);
}
.box-result {
  height: 310px;
}
.box-result #tip-amount,
#tip-total,
.text-my-green {
  color: hsl(172, 67%, 45%);
}
.btn-reset {
  background-color: hsl(172, 67%, 45%);
  @apply rounded-md py-1 uppercase text-lg;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
